* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8e40ed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(14, 240, 44);
    font-size: 32px;
}
.form-container {
    width: 350px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.45);
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 6px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

button {
    width: 100%;
    padding: 12px 20px;
    margin-top: 16px;
    background-color:rgba(148, 231, 159, 0.914);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
}
