* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8e40ed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px;
    padding: 30px;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.45);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(14, 240, 44);
    font-size: 32px;
}

.genre-list {
    list-style-type: none;
    margin: 0 auto;
    width: fit-content;
    cursor: pointer;
    user-select: none;
}

    .genre-list li {
        background: rgba(255, 255, 255, .1);
        padding: 10px 20px;
        border-radius: 6px;
        transition: background .3s;
        margin: 5px 0;
    }

        .genre-list li:hover {
            background: rgba(240, 248, 255, 0.1);
        }

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 6px;
}

input:focus {
    background-color: rgba(255, 255, 0.2);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 16px;
    background-color: rgba(148, 231, 159, 0.914);
    color: white;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: none;
}

    button:hover {
        background-color: #ff66f9;
    }

a {
    color: #ff00d4;
}

    a:hover {
        color: #ff66f9;
    }
